{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Profile - {{user_profile.user.username}}</title>
    <!-- <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16"> -->

    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">


</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">

</div>
<header>
    <div class="feature-photo">
        <a href="/">
            <h1 href="/"
                style="position: absolute; top: 20px; left: 20px; font-weight: bold; color: #620B0B; font-size: 40px; z-index: 2;">
                MindShare</h1>
        </a>
        <figure><img src="{% static 'images/resources/plano perfil.png' %}" alt=""></figure>
        <form action="/follow" method="POST">
            {% csrf_token %}
            <div class="add-btn">
                <!--<span style="color: white; font-size: 27px; margin-right: 520px;"><b><u><a href="/">Inicio</a></u></b></span>-->

                {% if user_post_length == 0 %}
                <span style="color: white; font-size: 27px;"><b>No Post</b></span>
                {% elif user_post_length == 1 %}
                <span style="color: white; font-size: 27px;"><b>{{user_post_length}} Post</b></span>
                {% else %}
                <span style="color: white; font-size: 27px;"><b>{{user_post_length}} Posts</b></span>
                {% endif %}

                {% if user_followers == 0 or user_followers == 1 %}
                <span style="color: white; font-size: 27px;"><b>{{user_followers}} Seguidor</b></span>
                {% else %}
                <span style="color: white; font-size: 27px;"><b>{{user_followers}} Seguidores</b></span>
                {% endif %}


                <span style="color: white; font-size: 27px;"><b>{{user_following}} Seguindo</b></span>

                <input type="hidden" value="{{user.username}}" name="follower"/>
                <input type="hidden" value="{{user_object.username}}" name="user"/>

                {% if user_object.username == user.username %}
                <a href="/settings" data-ripple="">Configuração</a>
                {% else %}
                <a data-ripple="">
                    <button type="submit" style="background-color: #ffc0cb; border: #ffc0cb;">{{button_text}}
                    </button>
                </a>
                {% endif %}

            </div>
        </form>

        <div class="container-fluid">
            <div class="row merged">
                <div class="col-lg-2 col-sm-3">
                    <div class="user-avatar">
                        <figure>
                            <img src="{{user_profile.profileimg.url}}" style="height: 250px; width: 100%;" alt="">
                        </figure>
                    </div>
                </div>
                <div class="col-lg-10 col-sm-9">
                    <div class="timeline-info">
                        <ul>
                            <li class="admin-name">
                                <h5 style="color: black;white-space: nowrap; width: 110px; font-size: 27px;"><b>@{{user_profile.user.username}}</b>
                                    <!--<i class="fa fa-check-circle" style="color: #48dbfb;" aria-hidden="true"></i>-->
                                </h5>
                                <!--<span>Group Admin</span>-->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--
<section>
    <div class="bio">
        {{user_profile.bio}}
    </div>
</section>-->


<div class="container m-auto">
    <div class="lg:flex justify-center lg:space-x-10 lg:space-y-0 space-y-5">
        <!-- left sidebar-->
        <div class="space-y-5 flex-shrink-0 lg:w-7/12">
            <!-- posts loop -->
            {% for post in user_posts %}
            <div class="shadow rounded-md -mx-2 lg:mx-0" style="background-color: #FFF5F5;">
                <div class="py-3 px-4 space-y-3">
                    <div class="flex items-center space-x-4">
                        <a href="/profile/{{post.user}}">
                            <strong>@{{post.user}}</strong>
                        </a>
                    </div>
                    <p>
                        {{post.caption}}
                    </p>
                    <div class="flex space-x-4 lg:font-bold">
                        <div uk-lightbox>
                            <a href="{{post.image.url}}">
                                <img src="{{post.image.url}}" alt="" class="w-20 h-20 object-cover">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Scripts
   ================================================== -->
<script data-cfasync="false"
        src="{% static '../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script>
<script src="{% static 'js/main.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

</body>


</html>