{% extends 'main.html' %}

{% block content %}
<style>
    /* Estilo para centralizar o conteúdo na tela */
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
  
    /* Estilo para o botão azul */
    .botao-azul {
      background-color: rgb(133, 133, 223);
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 24px;
      border-radius: 7px;
      margin-top: 30px;
    }
    /* Estilo para o botão azul */
    .botao-verde {
      background-color: rgb(133, 233, 133);
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 24px;
      border-radius: 10px;
      margin-bottom: 30px;
    }
    .texto-acima-botao {
    font-size: 24px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px; /* Espaço entre o texto e os botões */
  }
  .texto-bem-vindo {
    font-size: 60px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px; /* Espaço entre o texto e os botões */
    color: #620b0b; /* Cor vinho em hexadecimal */
    font-weight: bold; /* Texto em negrito */
}

.texto-subtitulo {
    font-size: 22px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

  </style>
    <div>
        <div class="texto-bem-vindo">MindShare</div>
        <div class="texto-subtitulo">Compartilhe experiências, encontre apoio</div>
        <div class="texto-subtitulo">MindShare: sua jornada, uma inspiração</div>
        <div class="texto-acima-botao">Já possui cadastro?</div>
        <a href="/painel/" class="botao-verde">Login</a>
        <div class="texto-acima-botao">Ainda não possui possui cadastro?</div>
        <a href="/create/" class="botao-azul" >Cadastrar</a>
    
        
    </div>
    

{% endblock %}
