{% extends 'main.html' %}

{% block content %}
    <div class="col-6 mt-4 m-auto text-center"> <!-- Adicionado 'text-center' para centralizar o conteúdo -->
        <p class="font-weight-bold" style="font-size: 30px;">Insira suas informações</p> <!-- Adicionadas classes de estilo -->
        <form name="formPainel" id="formPainel" method="post" action="/dologin/">
            {% if msg %}
                <div class="alert {{class}}">
                    {{msg}}
                </div>
            {% endif %}

            {% csrf_token %}
            <input class="form-control mt-4" type="text" name="user" id="user" placeholder="Nome de usuário:">
            <input class="form-control mt-4" type="password" name="password" id="password" placeholder="Senha:">
            <input class="btn btn-dark mt-4" type="submit" value="Entrar">
        </form>
    </div>
{% endblock %}